<div class="jumbotron">
	<h1>Why Are We Doing This, Again?</h1>
	<p>Why, you ask? We're doing this so that we can learn to code. So that we can actually realize that great idea we had whilst taking a crap. So that we can actually build something that could change the world, even in a small way.</p>
	<p>Click Here to Check Out Our <%= link_to "Team", "#", class: "btn btn-primary btn-lg" %></p>
</div>